:root {

    /* body */
    --color-bodyText: #000000; /* black */
    --color-bodyBackground: #FFFFFF; /* white */

    /* navigation */
    --color-navigationText: #FFFFFF; /* white */
    --color-navigationBackground: #171717;
    --color-navigationBorder: #32CD32; /* limegreen */

    /* highlight */
    --color-highlight: #32CD32; /* limegreen */

    /* bootstrap form elements */
    --color-inputFormsText: #000000; /* black */
    --color-inputFormsBackground: #EBEBEB; /* Gray92  */
    --color-inputFormsBorder: #D3D3D3; /* lightgray */
}
