:root {

    /* 
        Influenced:                             https://ethanschoonover.com/solarized/
        Color descriptions:                     https://www.colorhexa.com/;

        FOREGROUND
            Dark yellow [Olive tone]            #859900
            Bright red                          #dc322f
            Light grayish yellow                #eee8d5
            Strong Blue                         #268bd2
            Dark grayish cyan                   #93a1a1
            Dark grayish cyan                   #586e75

        BACKGROUND:
            Very dark cyan                      #073642
            Very dark cyan                      #002b36
    */


    /* body */
    --color-bodyText: #eee8d5;
    --color-bodyHeading: #268bd2;
    --color-bodyHeadingBorder: #859900;
    --color-bodyBackground: #073642;

    /* navigation */
    --color-navigationText: #eee8d5;
    --color-navigationBackground: #002b36;
    --color-navigationBorder: #859900;
    --color-navigationHighlight: #859900;
    --color-navigationCurrentActive: #859900;

    /* highlight */
    --color-highlight: #859900;

    /* bootstrap form elements */
    --color-inputFormsText: #eee8d5;
    --color-inputFormsBackground: #002b36;
    --color-inputFormsBorder: #93a1a1;

    /* bootstrap buttons */
    --color-buttonSuccess: #859900; 
    --color-buttonDanger: #dc322f;
    --color-buttonSecondary: #586e75; 
    --color-buttonDark: #002b36;

    /* font awesome icons */
    --color-fontAwesomeIcons: #eee8d5;
}
