:root {

    /* influcenced by: https://www.nordtheme.com/docs/colors-and-palettes */

    /* body */
    --color-bodyText: #2e3440; /* polar night: nord0 */
    --color-bodyBackground: #eceff4; /* snow storm: nord6 */

    /* navigation */
    --color-navigationText: #e5e9f0; /* snow storm: nord5; */
    --color-navigationBackground: #171717; /*almost black */
    --color-navigationBorder: #5e81ac; /* frost: nord10 */
    --color-navigationHighlight: #5e81ac; /* frost: nord10 */;

    /* highlight */
    --color-highlight: #5e81ac; /* frost: nord10 */

    /* bootstrap form elements */
    --color-inputFormsText: #3b4252; /* polar night: nord 1 */
    --color-inputFormsBackground: #e5e9f0; /* snow storm: nord 5 */
    --color-inputFormsBorder: #4c566a; /* polar night:  nord3 */

    /* bootstrap buttons */
    --color-buttonSuccess: #A3BE8C; /* aurora: nord14; */
    --color-buttonDanger: #BF616A; /* aurora: nord11; */
    --color-buttonSecondary: #4C566A;
    --color-buttonDark: #2E3440;
}
