:root {

    /* influcenced by: https://ethanschoonover.com/solarized/ */

    /* body */
    --color-bodyText: #eee8d5; /* base2 */
    --color-bodyHeading: #268bd2; /* blue */
    --color-bodyHeadingBorder: #859900; /* green */
    --color-bodyBackground: #073642; /* base02 */

    /* navigation */
    --color-navigationText: #e5e9f0; /*  */
    --color-navigationBackground: #171717; /*  */
    --color-navigationBorder: #859900; /*  */
    --color-navigationHighlight: #859900; /*  */;

    /* highlight */
    --color-highlight: #859900; /* green */

    /* bootstrap form elements */
    --color-inputFormsText: #eee8d5; /* base2 */
    --color-inputFormsBackground: #002b36; /* base03 */
    --color-inputFormsBorder: #93a1a1; /* base1 */

    /* bootstrap buttons */
    --color-buttonSuccess: #859900; /* green */
    --color-buttonDanger: #dc322f; /* red */
    --color-buttonSecondary: #586e75; /* base01 */
    --color-buttonDark: #002b36; /* base03 */
}
