:root {

    /* 
        Influenced:                             none
        Color descriptions:                     https://www.colorhexa.com/;

        FOREGROUND
            White                               #FFFFFF
            Strong lime green                   #32CD32
            Light red.                          #ff5555

        BACKGROUND:
            Very dark gray (mostly black)       #212121
            Very dark gray (mostly black)       #171717
            Very dark gray                      #4e4e4e
            Very dark grayish blue              #282a36
    */


    /* body */
    --color-bodyText: #FFFFFF; 
    --color-bodyHeading: #FFFFFF;
    --color-bodyHeadingBorder: #32CD32;
    --color-bodyBackground: #212121;

    /* navigation */
    --color-navigationText: #FFFFFF;
    --color-navigationBackground: #171717;
    --color-navigationBorder: #32CD32;
    --color-navigationHighlight: #32CD32;
    --color-navigationCurrentActive: #32CD32;

    /* highlight */
    --color-highlight: #32CD32;

    /* bootstrap form elements */
    --color-inputFormsText: #FFFFFF;
    --color-inputFormsBackground: #171717;
    --color-inputFormsBorder: #4e4e4e;

    /* bootstrap buttons */
    --color-buttonSuccess: #32CD32;
    --color-buttonDanger: #ff5555;
    --color-buttonSecondary: #4e4e4e;
    --color-buttonDark: #282a36;

    /* font awesome icons */
    --color-fontAwesomeIcons: #FFFFFF;
}
