:root {

    /* influcenced by: https://ethanschoonover.com/solarized/ */

    /* body */
    --color-bodyText: #657b83; /*  */
    --color-bodyHeading: #b58900; /*  */
    --color-bodyHeadingBorder: #cb4b16; /* orange */
    --color-bodyBackground: #fdf6e3; /* base3 */

    /* navigation */
    --color-navigationText: #fdf6e3; /* base3 */
    --color-navigationBackground: #171717; /* almost black */
    --color-navigationBorder: #cb4b16; /* orange  */
    --color-navigationHighlight: #cb4b16; /* orange */

    /* highlight */
    --color-highlight: #cb4b16; /* orange */

    /* bootstrap form elements */
    --color-inputFormsText: #657b83; /*  */
    --color-inputFormsBackground: #eee8d5; /* base2 */
    --color-inputFormsBorder: #93a1a1; /*  */

    /* bootstrap buttons */
    --color-buttonSuccess: #859900; /* ; */
    --color-buttonDanger: #dc322f; /*  */
    --color-buttonSecondary: #586e75;
    --color-buttonDark: #002b36;
}
