:root {

    /* influcenced by: https://ethanschoonover.com/solarized/ */

    /* body */
    --color-bodyText: #586e75; /* base01 */
    --color-bodyHeading: #b58900; /* yellow */
    --color-bodyHeadingBorder: #cb4b16; /* orange */
    --color-bodyBackground: #fdf6e3; /* base3 */

    /* navigation */
    --color-navigationText: #586e75; /* base3 */
    --color-navigationBackground: #eee8d5; /* almost black */
    --color-navigationBorder: #cb4b16; /* orange  */
    --color-navigationHighlight: #cb4b16; /* orange */
    --color-navigationCurrentActive: #859900;

    /* highlight */
    --color-highlight: #cb4b16; /* orange */

    /* bootstrap form elements */
    --color-inputFormsText: #586e75; /* base01 */
    --color-inputFormsBackground: #eee8d5; /* base2 */
    --color-inputFormsBorder: #93a1a1; /* base1 */

    /* bootstrap buttons */
    --color-buttonSuccess: #859900; /* green */
    --color-buttonDanger: #dc322f; /* red */
    --color-buttonSecondary: #586e75; /* base01 */
    --color-buttonDark: #002b36; /* base03 */

    /* font awesome icons */
    --color-fontAwesomeIcons: #586e75;
}
