:root {

    /* body */
    --color-bodyText: black;
    --color-bodyBackground: white;

    /* navigation */
    --color-navigationText: white;
    --color-navigationBackground: #171717;
    --color-navigationBorder: limegreen;

    /* highlight */
    --color-highlight: limegreen;

    /* bootstrap form elements */
    --color-inputFormsTextd: black;
    --color-inputFormsBackground: #ebebeb;
    --color-inputFormsBorder: lightgray;
}
