/* ########################################################################## */
/* HTML/BODY/CONTAINER */
/* ########################################################################## */
html,body {
    /* padding */
    padding-right: 0;
    padding-left: 0;

    /* margin */
    margin: 0px;
    margin-left: 0;
    margin-right: 0;

    /* border */
    border-color: coral;
    border: 2px solid var(--color-menuBackground);

    height: 100%;

    background-color: yellow;
}
