/* ########################################################################## */
/* HTML/BODY/CONTAINER */
/* ########################################################################## */
html,body
{
    /* height */
    height:100%;

    /* width */
    width: 100%;

    /* padding */
    padding-right: 0;
    padding-left: 0;

    color: var(--color-bodyText);
    background-color: var(--color-bodyBackground);
}


/* ########################################################################## */
/* TITLEBAR */
/* ########################################################################## */
.titlebar, .titlebar > * {
    /* font-family: Roboto, sans-serif; */
    /*font-family: caption; */
    font-family: Arial;
    /* font-size: 20px; */
}


/* ########################################################################## */
/* MENU / NAVIGATION */
/* ########################################################################## */
#tabBar
{
    /* height */
    height: 30px; /* 30, default: 40px */

    background-color: var(--color-navigationBackground);
    border-bottom: 2px solid var(--color-navigationBorder);
}

ul
{
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item
{
    /* margin */
    margin-left: 0px;
    margin-right: 3px;
}

.nav-link
{
    color: var(--color-navigationText);
}

.nav-link:hover
{
    color: var(--color-highlight);
}

.nav>li>a
{
    padding: 5px 10px; /*  top/bottom left/right */
}

/* the active tab */
.nav>li>a.active
{
    border: 2px solid var(--color-navigationBorder) !important;
    border-bottom-style: hidden !important;

    background-color: var(--color-bodyBackground)!important;
    color: var(--color-navigationHighlight) !important;
}


/* ########################################################################## */
/* CONTENT */
/* ########################################################################## */
.container-fluid
{
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    background-color: var(--color-bodyBackground);
}


.fuya
{
    padding-left: 0px !important;
    /* padding-right: 0px !important; */
}

.flex-fill
{
    flex:1 1 auto;
}

.ttth_resizer
{
    height: 100%;
    min-height: 100%;

    padding-left: 0 !important;
    /* padding-right: 0 !important; */
}

.row
{
    /* ugly - attempt to fight with grid.scss  - see #60*/
    margin-left: -15px !important;
    margin-right:  0px !important;
}



.settingsTabBody{
    /* border for borderless-window/content */
    border-left: 1px solid var(--color-inputFormsBorder) !important;
    border-right: 1px solid var(--color-inputFormsBorder) !important;
    border-bottom: 1px solid var(--color-inputFormsBorder) !important;
}


/* ########################################################################## */
/* SETTINGS
/* ########################################################################## */
.ttthServiceRow
{
    margin-right:  0px !important;
}

#allSettings
{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

h3
{
    padding-top: 15px;
    font-size: 20px !important;

    border-bottom: 2px solid var(--color-highlight);
    color: var(--color-bodyText);
}


/* ########################################################################## */
/* CUSTOMIZE BOOTSTRAP FORM ITEMS
/* ########################################################################## */
.custom-select
{
    color: var(--color-inputFormsTextd);
    background-color: var(--color-inputFormsBackground);
    border-color: var(--color-inputFormsBorder);
}

.input-group-text
{
    color: var(--color-inputFormsTextd) !important;
    background-color: var(--color-inputFormsBackground)!important;
    border-color: var(--color-inputFormsBorder);
}

.form-control 
{
    color: var(--color-inputFormsText) !important;
    background-color: var(--color-inputFormsBackground) !important;
    border-color: var(--color-inputFormsBorder);
}

.ttth_select
{
    min-width: 200px;
    color: var(--color-inputFormsText) !important;
    background-color: var(--color-inputFormsBackground) !important;
    border-color: var(--color-inputFormsBorder) !important;
    outline-color: var(--color-highlight);
}

.ttth_select:focus
{
    border-color: var(--color-highlight) !important;
}

.ttth_select:hover
{
    border-color: var(--color-highlight) !important;
}



/* ########################################################################## */
/* CUSTOMIZE BOOTSTRAP BUTTONS
/* ########################################################################## */
.btn-success
{
    background-color: var(--color-buttonSuccess) !important;
    border-color: var(--color-buttonSuccess) !important;
}

.btn-secondary
{
    background-color: var(--color-buttonSecondary) !important;
    border-color: var(--color-buttonSecondary) !important;
}

.btn-danger
{
    background-color: var(--color-buttonDanger) !important;
    border-color: var(--color-buttonDanger) !important;
}

.btn-dark
{
    background-color: var(--color-buttonDark) !important;
    border-color: var(--color-buttonDark) !important;
}

/* Filter for all buttons on hover */
.btn:hover
{
    filter: brightness(75%);
}
