/* ########################################################################## */
/* HTML/BODY/CONTAINER */
/* ########################################################################## */
html,body
{
    /* height:100%;  */
    height: calc(100% - 15px);

    /* width */
    width: 100%;

    /* padding */
    padding-right: 0;
    padding-left: 0;

    /* margin */
    margin-left: 0;
    margin-right: 0;

    color: var(--color-bodyText);
    background-color: var(--color-bodyBackground);
}


/* ########################################################################## */
/* MENU / NAVIGATION */
/* ########################################################################## */
#tabBar
{
    /* height */
    height: 30px; /* default: 40px */

    /* color */
    background-color: var(--color-navigationBackground);

    /* border */
    border-bottom: 2px solid var(--color-navigationBorder);
}


ul
{
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item
{
    /* border */
    /*
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    */

    /* margin */
    margin-left: 0px;
    margin-right: 3px;


}

.nav-link
{
    /* color */
    color: var(--color-navigationText);
}

.nav-link:hover
{
    /* color */
    color: var(--color-highlight);
}

.nav>li>a
{
    /* padding */
    padding: 5px 10px; /*  top/bottom left/right */
}


/* ########################################################################## */
/* CONTENT */
/* ########################################################################## */
.container-fluid
{
    /* padding */
    padding-bottom: 0px !important;
    padding-right: 0px !important;

    /* color */
    background-color: var(--color-bodyBackground);
}

.fuya
{
    /* padding */
    padding-left: 0px !important;
    /* padding-right: 0px !important; */
}

.flex-fill
{
    flex:1 1 auto;
}

.ttth_resizer
{
    /* height */
    height: 100%;
    min-height: 100%;

    /* padding */
    padding-left: 0 !important;
    /* padding-right: 0 !important; */
}

.row
{
    /* ugly - attempt to fight with grid.scss  - see #60*/
    margin-left: -15px !important;
    margin-right:  0px !important;
}



/* ########################################################################## */
/* SETTINGS
/* ########################################################################## */
.ttthServiceRow
{
    margin-right:  0px !important;
}

#allSettings
{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

h3
{
    padding-top: 15px;
    font-size: 20px !important;

    border-bottom: 2px solid var(--color-highlight);
    color: var(--color-bodyText);
}




/* ########################################################################## */
/* CUSTOMIZE BOOTSTRAP FORM ITEMS
/* ########################################################################## */
.custom-select
{
    color: var(--color-inputFormsTextd);
    background-color: var(--color-inputFormsBackground);
    border-color: var(--color-inputFormsBorder);
}

.input-group-text
{
    color: var(--color-inputFormsTextd) !important;
    background-color: var(--color-inputFormsBackground)!important;
    border-color: var(--color-inputFormsBorder);
}

.form-control 
{
    color: var(--color-inputFormsText) !important;
    background-color: var(--color-inputFormsBackground) !important;
    border-color: var(--color-inputFormsBorder);
}


.ttth_select
{
    color: var(--color-inputFormsText) !important;
    background-color: var(--color-inputFormsBackground) !important;
    border-color: var(--color-inputFormsBorder) !important;
    outline-color: var(--color-highlight);
}

.ttth_select:focus
{
    border-color: var(--color-highlight) !important;
}


.ttth_select:hover
{
    border-color: var(--color-highlight) !important;
}
