/* ########################################################################## */
/* HTML/BODY/CONTAINER */
/* ########################################################################## */
html,body {
    /* height:100%; */
    height: calc(100% - 15px);


    background-color: var(--color-main);
    background-color: yellow;

    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/

    margin: 0px;
    margin-left: 0;
    margin-right: 0;
}

/* ########################################################################## */
/* MENU / NAVIGATION */
/* ########################################################################## */
#tabBar{
    background-color: var(--color-menuBackground);
    height: 30px; /* default: 40px */
}

.nav{
    /* padding-top: 5px; */

}

ul{
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item{
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 0px;
    margin-right: 3px;
}

.nav-item a {

}


.nav-link{
    color: var(--color-menuForeground);
}

.nav-link:hover{
    color: var(--color-menuForegroundHover);
}

.nav-tabs {
    /* margin-bottom: 0; */
}


.nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}



/* ########################################################################## */
/* SETTINGS
/* ########################################################################## */
#allSettings{
    margin-left: 10px;
    margin-right: 10px;
}

.bgimg {
    background-image: url('../../img/settings/icon_background.png');
    background-repeat: no-repeat;
    background-position: center bottom !important; /*Positioning*/
}



/* ########################################################################## */
/* CONTENT */
/* ########################################################################## */
.container-fluid
{
    background-color: var(--color-main);

    /*
    margin-right: auto;
    margin-left: auto;
    */

    padding-bottom: 0px !important;


    /* baustelle */
    /*
    padding-left: 7px !important;
    padding-right: 7px !important;
    */
}


.fuya
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.inner{
    height: 100%;
    min-height: 100%;

}

.flex-fill {
    flex:1 1 auto;
}

.resizer{
    background-color: var(--color-main);

    height: 100%;
    min-height: 100%;
    width: 100% !important;
    min-width: 100% !important;

    padding-left: 0 !important;
    padding-right: 0 !important;
}

h3{
    padding-top: 15px;
    border-bottom: 2px solid var(--color-menuForegroundHover);
    font-size: 20px !important;
}
