/* ########################################################################## */
/* COLOR VARIABLES */
/* ########################################################################## */
:root {

    /* --color-main: #DFDCD9; */
    /* --color-main: limegreen; */
    --color-main: white;

    --color-menuBackground: #333;
    --color-menuBackgroundHover: #111;
    --color-menuForeground: white;
    --color-menuForegroundHover: limegreen;
}


/* ########################################################################## */
/* HTML/BODY/CONTAINER */
/* ########################################################################## */
html,body {
    /* height:100%; */
    height: calc(100% - 40px);

    background-color: var(--color-main);

    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/

    margin: 0px;
    margin-left: 0;
    margin-right: 0;
}

.container-fluid
{
    background-color: var(--color-main);

    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/
    margin-right: auto;
    margin-left: auto;

    /* padding-bottom: 5px; */
}




/* ########################################################################## */
/* MENU / NAVIGATION */
/* ########################################################################## */
#tabBar{
    background-color: var(--color-menuBackground);
    height: 40px;
}

.nav{
    /* padding-top: 5px; */
}

ul{
    margin-left: 10px;
    margin-right: 10px;
}


.nav-item{
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 5px;
}


.nav-link{
    color: var(--color-menuForeground);
}

.nav-link:hover{
    color: var(--color-menuForegroundHover);
}

.nav-tabs {
    /* margin-bottom: 0; */
}


/* ########################################################################## */
/* SETTINGS */
/* ########################################################################## */
.bgimg {
    background-image: url('../../img/icon/icon_background.png');
    background-repeat: no-repeat;
    background-position: right bottom !important; /*Positioning*/
}



/* ########################################################################## */
/* CONTENT */
/* ########################################################################## */

.inner{
    height: 100%;
    min-height: 100%;
}


.flex-fill {
  flex:1 1 auto;
}


.resizer{
    background-color: var(--color-main);
    height: 100%;
    min-height: 100%;
    /* height: calc(100% - 10px); */
    width: 100%;
    min-width: 100%;
}



h3{
    padding-top: 20px;
    border-bottom: 1px solid var(--color-menuForegroundHover);
}


/* ########################################################################## */
/* UI TEXT - MAKE THEM NOT SELECTABLE */
/* ########################################################################## */
.my-ui-text {
    -webkit-user-select:none;
}


/* ########################################################################## */
/* Use the “system font/San Francisco” */
/* ########################################################################## */
cssbody { font: caption; }


/* ########################################################################## */
/* FADEIN THE WINDOW */
/* ########################################################################## */
@keyframes fadein {
  from
  {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
    /* Disable text selection, or your app will feel like a web page */
    -webkit-user-select: none;
    -webkit-app-region: drag;

    /* Cover the whole window */
    height: 100%;

    /* Make sure this matches the native window background color that you pass to
    * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
    background: rgb(255, 255, 255);

    /* Smoother startup */
    animation: fadein 0.5s;
}
