/* ########################################################################## */
/* COLOR VARIABLES */
/* ########################################################################## */
:root {
    --color-main: #DFDCD9;
    --color-menuBackground: #333;
    --color-menuBackgroundHover: #111;
    --color-menuForeground: white;
    --color-bodyBackground: white;
}


/* ########################################################################## */
/* HTML/BODY/CONTAINER */
/* ########################################################################## */
html,body {
    height:100%;
    background-color: var(--color-bodyBackground);
    margin: 0px;
}

#main-container {
    height: 100%;
    background-color: var(--color-main);
}


/* ########################################################################## */
/* MENU / NAVIGATION */
/* ########################################################################## */
#navi{
    height: 50px;
    background-color:  var(--color-menuBackground);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-menuBackground);
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--color-menuForeground) !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: var(--color-menuBackgroundHover);
    color: var(--color-main) !important;
}

.menuSettings{
    float: right;
}



/* ########################################################################## */
/* UNSORTED */
/* ########################################################################## */
#content {
    height: calc(100% - 50px);
}

.inner{
    height: 100%;
}



/* ########################################################################## */
/* SETTINGS */
/* ########################################################################## */
#contentSettings {
    padding: 10px;
    height: calc(100% - 20px);
}

.bgimg {
    background-image: url('../../img/icon/icon.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


/* ########################################################################## */
/* SERVICES */
/* ########################################################################## */
#contentWhatsApp {

}

#contentGoogleCalendar {

}

#contentGoogleNotes {

}
